.contactbg{
    background-image: url("../assets/images/shopbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 130px;
    display: flex;
    flex-direction: column;
}
.contactHeading{
   margin: auto;
}
.bgLink{
   /* flex-direction: column; */
}
.contactInfo{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    
}
.infoContent{
    justify-content: center !important;
    /* padding: 5vh; */
    align-items: center !important;
    margin: auto;
    /* text-align: end; */
}
